#container
    header
        #header
          h1.section-heading Success!
      section
        #content
          h2.section-heading
            | You deployed Twilio Hackpack
            | for Heroku and Express.
          p.blurb Here are some important links:
          a.button(href='https://www.twilio.com/user/account/apps') Configure Twilio
          dl#url_list
            dt Make Call URL
            dd
              a(href='/makeCall')
                | Click Here
            dt Send Sms URL
            dd
              a(href='/sendSms')
                | Click Here
            dt Application Voice URL
            dd
              a(href='/voice')
                | Click Here
      footer
        p.footer
          | Source on
          a(href='https://github.com/cewendel/Twilio-Hackpack-for-Heroku-and-Express')  Github
          | .
          | Released under
          a(href='http://www.opensource.org/licenses/mit-license.html')
            |  MIT license
          | .

